{% include 'Auth/header.html' with {title: translate('Change password')} %}
<form class="row g-3 ajax" action="{{ base_route('/auth=change-password') }}" method="POST" id="auth">
  <h2 class="text-secondary font-condensed-light">
    <i class="fa fa-lock fa-sm me-2" aria-hidden="true"></i>{{ translate('Change password') }}
  </h2>
  <hr class="m-0">
  {% include 'Auth/message.html' %}
  <div class="col-12">
    <input class="form-control" required type="password" placeholder="{{ translate('Old password') }}" name="old_password" id="old_password">
  </div>
  <div class="col-12">
    <input class="form-control" required type="password" placeholder="{{ translate('New password') }}" name="password1" id="password1">
  </div>
  <div class="col-12">
    <input class="form-control" required type="password" placeholder="{{ translate('Confirm password') }}" name="password2" id="password2">
  </div>
  <div class="col-12">
    <small>{{ translate('Use eight or more characters') }}</small>
  </div>
  <div class="col-12">
    <button class="btn btn-secondary shadow w-100" type="submit">{{ translate('Change password') }}</button>
  </div>
</form>
{% include 'Auth/footer.html' %}
