{% include 'Auth/header.html' with {title: translate('Reset password')} %}
<form class="row g-3 ajax" action="{{ base_route('/auth=forgot-password') }}" method="POST" id="auth" return="res">
  <h2 class="bg-dot text-secondary font-condensed-light p-2">{{ translate('Reset password') }}</h2>
  {% include 'Auth/message.html' %}
  <div class="col-12">
    <input class="form-control" required type="text" placeholder="{{ translate('Email') }}" value="{{ email }}" name="email" id="email">
  </div>
  <div class="col-12">
    <small>{{ translate('Enter your email and we will send you instructions to reset your password.') }}</small>
  </div>
  <div class="col-12">
    <button class="btn btn-secondary shadow w-100" type="submit">{{ translate('Submit') }}</button>
  </div>
  <hr class="mt-4">
  <div class="col-12">
    <p class="text-center mb-0"><a class="ajax" href="{{ base_route('/auth=login') }}">Login</a></p>
  </div>
</form>
{% include 'Auth/footer.html' %}
