{% include 'Auth/header.html' with {title: translate('Reset password')} %}
<form class="row g-3 ajax" action="{{ base_route('/auth=reset-password') }}" method="POST" id="auth">
  <h2 class="bg-dot text-secondary font-condensed-light p-2">{{ translate('Reset password') }}</h2>
  {% include 'Auth/message.html' %}
  <div class="col-12">
    <input class="form-control" required type="password" placeholder="{{ translate('New password') }}" name="password1" id="password1">
  </div>
  <div class="col-12">
    <input class="form-control" required type="password" placeholder="{{ translate('Confirm password') }}" name="password2" id="password2">
  </div>
  <div class="col-12">
    <small>{{ translate('Use eight or more characters') }}</small>
  </div>
  <div class="col-12">
    <input type="hidden" value="{{ selector }}" name="selector">
    <input type="hidden" value="{{ token }}" name="token">
    <button class="btn btn-secondary shadow w-100" type="submit">{{ translate('Reset password') }}</button>
  </div>
  <hr class="mt-4">
  <div class="col-12">
    <p class="text-center mb-0"><a href="{{ base_route('/auth=login') }}">Login</a></p>
  </div>
</form>
{% include 'Auth/footer.html' %}
